@import "../../variables.scss";

@keyframes inputErrorAnimation {
  0%,
  100% {
    border-color: initial;
    background-color: initial;
  }
  50% {
    border-color: white;
    background-color: rgba(241, 138, 138, 0.697);
    color: white;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.request {
  display: flex;
  flex-direction: column;

  .requestTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: -3px;

    h2 {
      margin: 0;
      display: flex;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 60px;
      color: black;
    }

    svg {
      cursor: pointer;

      path {
        transition: all 0.3s ease-in-out;
      }

      &:hover path {
        stroke: #c8efda;
      }
    }
  }
}

.contactForm {
  height: 560px;
  width: 405.5px;
  background: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 3px;

  input {
    width: 363.5px;
    height: 45px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    border: 1px solid $color-text;

    &::placeholder {
      color: $color-placeholder;
    }

    &:focus {
      transition: border-color 0.6s ease-in-out;
      border-color: $color-primary;
    }
    transition: border-color 0.3s ease-in-out;

    &:hover {
      border-color: $color-primary;
    }
  }

  .requestInput {
    width: 363.5px;
    height: 200px;
    margin-bottom: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    border: 1px solid $color-text;
    resize: none;
    transition: border-color 0.6s ease-in-out;

    &:hover {
      border-color: $color-primary;
    }

    &::placeholder {
      color: $color-placeholder;
    }
    &:focus {
      transition: border-color 0.6s ease-in-out;
      border-color: $color-primary;
    }
  }

  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin: 0;
    align-self: flex-start;
  }

  button {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    width: 190px;
    height: 80px;
    cursor: pointer;
    background-color: #c8efda;
    border: 0;
    align-self: flex-start;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: $color-hover;
    }
  }
}

.contactForm {
  .secondP {
    margin-bottom: 17px;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.errorInput {
  animation: inputErrorAnimation 1.2s ease-in-out;
}

.loadingIcon {
  display: inline-block;
  border: 15px solid $color-primary;
  border-left-color: black;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: loading 1s linear infinite;
  margin-top: 133px;
}

.sentRequest {
  padding-top: 133px;
  h4 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    animation: zoomIn 0.5s ease-in-out;
  }
  svg {
    animation: fadeIn 0.5s ease-in-out;
  }
}
