@import "../../variables.scss";

footer {
  padding-top: 280px;
  margin-top: auto;

  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
  }
  li {
    margin: 0;
    transition: color 0.3s ease-in-out;
    font-size: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}
