@import "../../variables.scss";

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 260px;
  margin-right: 260px;

  button {
    align-self: flex-start;
    width: 279px;
    height: 64px;
    cursor: pointer;
    background-color: $color-primary;
    border: 0;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: $color-hover;
    }
  }

  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 110px;
    margin-top: 40px;
  }
}
